

<p class="projecthasbeencreated">The project <strong>"{{project.projectname}}"</strong> for the client <strong>{{project.client}}</strong> has been successfully created.</p>

<a href="/project/{{project._id}}">Edit the project</a>