

<p class="projecthasbeencreated">The project <strong>"{{project.projectname}}"</strong> <br> for the client <strong>{{project.client}}</strong> has been successfully created.</p>

<h1><span class="steps"> Step 2 </span><br><a class="specifica" href="/project/{{project._id}}/add">☞ Add texts to the project</a>
</h1>