<h1><span class="steps">Step 1</span><br> Create a new project</h1>

<form action="/project/create" method="POST" enctype="multipart/form-data">


  <label for="input-client">Client: </label>
  <input type="text" id="input-client" name="client" placeholder="Client" required="true"/>

  <label for="projectname">Project: </label>
  <input type="text" id="projectname" name="projectname" placeholder="Project Name" required="true"/>

  <label for="projectimage">Upload a thumbnail:</label>
  <input id="projectimage" type="file" name="projectimage">

<button>Submit!</button>
</form>

