

<p>Are you sure you want to delete the project "{{project.projectname}}"?</p>

<p>You won't be able to undo this action.</p>

{{!--{{#if project._id}}--}}
<form action="/project/{{project._id}}/delete">
  <button>Confirm Deletion</button>
</form>

