 <footer class="footer-notes">
     <img class="ironhack-image" src="./../images/logo-ironhack-blue.png" alt="ironhack logo"/>
      <p class="footer-comments"> Ironhack Project: Katja Maasch and Sok Mun Wunder</p>
</footer>
