
<!-- Optional: some overlay text to describe the video -->
<div class="home_view content">
<h1><span>TRANSL</span>ATION SERVICES</h1>
<p>Welcome to the Atelier Markgraph Translation Platform</p>
</div>

