<form action="/authentication/sign-up" method="POST">


  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" />

  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Your Email" />

<!--
  <label for="profile-pic" class="custom-file-upload">Upload Profile Picture</label>
  <input type="file" id="profile-pic" name="profile-pic" placeholder="Your Profile Picture" />
-->

  
  <label for="role-select">Role</label>
  <select name="role" id="role-select" onchange="yesnoCheck(this)" class="role-select">
    <option value="">--Please choose an option--</option>
    <option value="publisher" class="selected-option">Publisher</option>
    <option id="viewOption" value="viewer" class="selected-option">Viewer</option>
</select>

<div id="viewerCheck" style="display:none">
<p>Department</p>
<fieldset>
    <label for="dtp">DTP</label> 
    <input type="radio" id="dtp" name="department" value="dtp" class="radio-buttons">
    <label for="experienceDesign">Experience Design</label> 
    <input type="radio" id="experienceDesign" name="department" value="experienceDesign" class="radio-buttons">
  </fieldset>

</div>

<script type="text/javascript">
  function yesnoCheck(viewerSelect) {   
    if(viewerSelect){
        interpreterOptionValue = document.getElementById("viewOption").value;
        if(interpreterOptionValue == viewerSelect.value){
            document.getElementById("viewerCheck").style.display = "block";
        }
        else{
            document.getElementById("viewerCheck").style.display = "none";
        }
    }
    else {
        document.getElementById("viewerCheck").style.display = "none";
    }
}
</script>

  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  
  
  <button>Sign Up</button>
</form>
