*, *:before, *:after {
  box-sizing: border-box;
}

body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: "Spartan", sans-serif;
  line-height: 2;
}

a {
  color: #7e2013;
  text-decoration: none;
}

nav {
  display: flex;
}

nav a,
nav button {
  padding: 1em 0;
  border: 0;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a:first-child,
nav button:first-child {
  margin-right: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='range']),
textarea,
select,
button,
fieldset,
.btn {
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

/* why is this not working but only radio-buttons?: 
input [type='radio'] {
    margin-right: 2em;
}
*/
.radio-buttons {
  margin-right: 1.5em;
}

/*sign-up: why is dropdown and file upload text color black?*/
.custom-file-upload {
  border: 1px solid #e6e6e6;
  display: inline-block;
  padding: 1em;
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 1em;
  color: #817f7f;
}

.role-select {
  color: #817f7f;
  padding: 1.3em;
}

.selected-option {
  color: black;
}

/*why is selected role not displayed in black?*/
textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

.home_view {
  background-image: url("/images/letter.jpeg");
  height: 640px;
  width: 1460px;
  margin-left: -330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: right;
  padding-right: 18.5em;
}

.home_view h1 {
  font-weight: 100;
  padding-top: 12em;
}

.home_view p {
  color: #817f7f;
}

.home_view span {
  color: #817f7f;
}

.status {
  color: #7e2013;
  margin-top: 2em;
  border: #7e2013 solid 1px;
  border-radius: 25px;
  padding: 3px 10px;
}

/*
.status-completed {
  color: $red;
  margin-top: 2em;
  border: #1b998b solid 1px;
  border-radius: 25px;
  padding: 3px 10px;
}
*/
.projectname {
  color: #817f7f;
  font-weight: 200;
  line-height: 1;
}

.projecthasbeencreated {
  background-color: #1b998b;
  border: 1px solid #1b998b;
  border-radius: 25px;
  color: white;
  text-align: center;
}

.projectimage {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin-right: 2em;
}

.projectsinprogresslist {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #817f7f;
  line-height: 2em;
  margin-bottom: 4em;
}

.projectsinprogresslist h3 {
  line-height: 1.5em;
  margin-right: 1em;
}

.projectsinprogresslist img {
  height: 50px;
  width: 50px;
}

.allprojects {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #817f7f;
}

.allprojects h3 {
  line-height: 1.5em;
  margin-right: 1em;
}

.allprojects img {
  height: 50px;
  width: 50px;
}

.profile-header {
  display: flex;
  flex-direction: row;
}

.profile-header img {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin: 0 2em 2em 0;
}

.profile-contact-information {
  color: #817f7f;
  font-size: 0.8em;
  margin-left: 10.6em;
  margin-bottom: 2em;
}

.profile-button-1 {
  width: 20em;
  margin-left: 8.5em;
}

.profile-button-2 {
  width: 20em;
  margin-left: 1.5em;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
}

.index-projects-details {
  margin-bottom: 3em;
  margin-left: 5em;
}

<<<<<<< HEAD
.project-log {
  color: #817f7f;
  margin-left: 0;
  padding-left: 1em;
  font-size: 0.8em;
  border: solid 1px #e6e6e6;
  border-radius: 25px;
=======
.list-buttons {
  display: flex;
  flex-direction: row;
}

.list-button-1 {
  width: 5em;
  margin-left: 3.5em;
}

.list-button-2 {
  width: 5em;
  margin-left: 1.5em;
>>>>>>> c0e858112952800d88111a1a39620f8f7dd9e714
}

/*# sourceMappingURL=style.css.map */