*, *:before, *:after {
  box-sizing: border-box;
}

body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: "Spartan", sans-serif;
  line-height: 2;
  background-image: url("/images/whitediamond.png");
}

a {
  color: #7e2013;
  text-decoration: none;
}

nav {
  display: flex;
}

nav a,
nav button {
  padding: 1em 0;
  border: 0;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a:first-child,
nav button:first-child {
  margin-right: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='range']),
textarea,
select,
button,
fieldset,
.btn {
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: white;
}

/* why is this not working but only radio-buttons?: 
input [type='radio'] {
    margin-right: 2em;
}
*/
.radio-buttons {
  margin-right: 1.5em;
}

/*sign-up: why is dropdown and file upload text color black?*/
.custom-file-upload {
  border: 1px solid #e6e6e6;
  display: inline-block;
  padding: 1em;
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 1em;
  color: #817f7f;
}

.role-select {
  color: #817f7f;
  padding: 1.3em;
}

.selected-option {
  color: black;
}

/*why is selected role not displayed in black?*/
textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

.home_view {
  background-image: url("/images/letter.jpeg");
  height: 640px;
  width: 1460px;
  margin-left: -330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: right;
  padding-right: 18.5em;
}

.home_view h1 {
  font-weight: 100;
  padding-top: 12em;
}

.home_view p {
  color: #817f7f;
}

.home_view span {
  color: #817f7f;
}

.status-ongoing {
  color: white;
  background-color: #7e2013;
  margin-top: 2em;
  border: #7e2013 solid 1px;
  border-radius: 25px;
  padding: 3px 10px;
  margin-right: 2em;
  width: 10em;
  height: 3em;
}

.status-completed {
  color: white;
  background-color: #1b998b;
  margin-top: 2em;
  border: #1b998b solid 1px;
  border-radius: 25px;
  padding: 3px 10px;
  margin-right: 2em;
  width: 10em;
  height: 3em;
}

.projectname {
  color: #817f7f;
  font-weight: 200;
  line-height: 1;
}

.projecthasbeencreated {
  background-color: #1b998b;
  border: 1px solid #1b998b;
  border-radius: 25px;
  color: white;
  text-align: center;
}

.projectimage {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin-right: 2em;
}

.projectsinprogresslist {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #817f7f;
  line-height: 2em;
}

.projectsinprogresslist h3 {
  line-height: 1.5em;
  margin-right: 1em;
}

.projectsinprogresslist img {
  height: 50px;
  width: 50px;
}

.project-creator-spacing {
  margin-top: 0.3em;
  margin-bottom: 2.5em;
}

.project-single-view-header {
  display: flex;
  flex-direction: row;
  color: #817f7f;
  line-height: 2em;
}

.project-single-view-header h1:first-child {
  margin-top: 0.5em;
  text-transform: uppercase;
}

.project-single-view-header p {
  color: #817f7f;
  font-size: 0.6em;
  margin-bottom: 0;
}

.project-single-view-header img {
  border-radius: 70px;
  height: 130px;
  width: 130px;
  margin-right: 2em;
}

.thumbnail-text-view {
  border-radius: 70px;
  height: 100px;
  width: 100px;
  margin: 1em 0 1em 2em;
}

.xxx {
  margin-bottom: 0;
  padding-bottom: 0;
  height: 5em;
}

.header-and-paragraph {
  text-align: left;
  padding: 1em 0 0 1em;
}

.allprojects {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #817f7f;
}

.allprojects h3 {
  line-height: 1.5em;
  margin-right: 1em;
}

.allprojects img {
  height: 50px;
  width: 50px;
}

.profile-header {
  display: flex;
  flex-direction: row;
}

.profile-header img {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin: 0 2em 2em 0;
}

.profile-contact-information {
  color: #817f7f;
  font-size: 0.8em;
  margin-left: 10.6em;
  margin-bottom: 2em;
}

.profile-button-1 {
  width: 20em;
  margin-left: 8.5em;
}

.profile-button-2 {
  width: 20em;
  margin-left: 1.5em;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
}

.index-projects-details {
  margin-bottom: 3em;
  margin-left: 5em;
}

.list-buttons {
  display: flex;
  flex-direction: row;
}

.list-button-1 {
  width: 5em;
  margin-left: 3.5em;
}

.list-button-2 {
  width: 5em;
  margin-left: 1.5em;
}

.statusses {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  margin-bottom: 0;
}

.status-updates {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.finished-button {
  font-size: 0.6em;
  color: #1b998b;
  border: #e6e6e6 solid 1px;
  border-radius: 25px;
  margin-right: 2em;
  padding-top: 0.3em;
  width: 13em;
  height: 2em;
  line-height: normal;
}

.ongoing-button {
  font-size: 0.6em;
  color: #7e2013;
  border: #e6e6e6 solid 1px;
  border-radius: 25px;
  margin-right: 2em;
  padding-top: 0.3em;
  width: 13em;
  height: 2em;
  line-height: normal;
}

.projectcreation_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5.2em;
  margin-top: 0;
}

.projectcreation-info-2 {
  margin-left: 5.2em;
  margin-top: 0;
}

.entered-text-display-header {
  border-radius: 25px;
  margin-bottom: 1em;
}

.textarea {
  width: 294px;
}

.select-area {
  width: 100%;
}

.dash-add-button {
  width: 294px;
  height: 2em;
  line-height: 0.3;
  background-color: #1b998b;
  color: white;
}

.dash-submit {
  padding-top: 0;
  line-height: 0;
}

.dash-submit-button {
  width: 294px;
  height: 2em;
  line-height: 0.3;
  background-color: #7e2013;
  color: white;
  text-transform: uppercase;
}

.project-log {
  color: #817f7f;
  font-size: 0.7em;
}

.project-log span {
  text-transform: capitalize;
}

.display-title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 0;
}

.display-subtitle {
  text-transform: uppercase;
  font-size: 1em;
  color: #817f7f;
  font-weight: 200;
  margin-bottom: 0;
}

.display-headline {
  font-weight: 500;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1em;
}

.display-subheadline {
  font-weight: 500;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1em;
  color: #817f7f;
}

.display-copytext {
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1em;
  padding: 8px 0;
}

.marking-texttype {
  color: #817f7f;
  margin-top: 0;
  padding-top: 0;
  text-transform: capitalize;
}

.add-texts-button {
  background-color: #7e2013;
  width: 50em;
  color: white;
}

.update-button {
  color: #1b998b;
  margin-bottom: 3em;
}

.secondary-select {
  background-color: #e6e6e6;
}

.customwidth {
  margin-left: -100px;
  width: 1030px;
  display: grid;
  grid-template-rows: 1fr;
  background-color: white;
  box-shadow: 0px 0px 10px #817f7f;
  margin-bottom: 2em;
}

.subgrid {
  width: 1000px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.65fr 1fr 1fr 1fr;
  align-content: space-around;
  border-bottom: 0.1rem dotted #9e9e9e;
  padding-top: 5px;
}

.grid-item {
  justify-self: start;
  align-self: start;
}

.edit-or-csv-button {
  border: 1px solid #9e9e9e;
  padding: 2px 10px;
  width: 214px;
  cursor: pointer;
}

.ironhack-image {
  width: 40px;
  margin-left: 25px;
}

.footer-notes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #817f7f;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px;
  border-top: solid #e6e6e6;
  font-size: 1em;
  /*background-color: white;*/
  width: 100%;
  margin-top: 20px;
}

.footer-comments {
  padding-right: 25px;
}

/*.footer-notes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  background-color: $grey;
  margin-bottom: 30px;
}*/
/*.spacer {
  flex: 1 0 auto;
}*/
/*.footer-notes {
  display: block;
  position: fixed;
  padding-top: 20px;
  text-align: center;
}*/
.steps {
  font-size: 2em;
  font-weight: 800;
  color: #02b99b;
}

.specifica {
  color: black;
}

.sign-out-button {
  background-color: transparent;
}

.hidden-input {
  display: none;
}

.custom-upload {
  text-align: center;
  background-color: #7e2013;
  color: white;
}

.important-hint {
  color: #7e2013;
  font-size: 0.68em;
  line-height: 1.2em;
}

.important-note {
  color: #7e2013;
  padding: 1em 3em;
  background-color: #e6e6e6;
  border-radius: 25px;
}

::placeholder {
  color: #7e2013;
}

.textheader {
  padding: 1em 0;
}

/*# sourceMappingURL=style.css.map */