$font-family: 'Spartan', sans-serif;
$grey: hsl(0, 0, 90%);
$middle-grey: rgb(129, 127, 127);
$red: #7e2013;
$green: #1b998b;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: $font-family;
  line-height: 2;
  background-image: url('/images/whitediamond.png');
}

a {
  color: $red;
  text-decoration: none;
}

nav {
  display: flex;

  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
// input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
fieldset,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: white;
}

/* why is this not working but only radio-buttons?: 
input [type='radio'] {
    margin-right: 2em;
}
*/
.radio-buttons {
  margin-right: 1.5em;
}

/*sign-up: why is dropdown and file upload text color black?*/

.custom-file-upload {
  border: 1px solid $grey;
  display: inline-block;
  padding: 1em;
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 1em;
  color: $middle-grey;
}

.role-select {
  color: $middle-grey;
  padding: 1.3em;
}

.selected-option {
  color: black;
}

/*why is selected role not displayed in black?*/

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

.home_view {
  background-image: url('/images/letter.jpeg');
  height: 640px;
  width: 1460px;
  margin-left: -330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: right;
  padding-right: 18.5em;
  h1 {
    font-weight: 100;
    padding-top: 12em;
  }

  p {
    color: rgb(129, 127, 127);
  }

  span {
    color: $middle-grey;
  }
}

.status-ongoing {
  color: white;
  background-color: #7e2013;
  margin-top: 2em;
  border: #7e2013 solid 1px;
  border-radius: 25px;
  padding: 3px 10px;
  margin-right: 2em;
  width: 10em;
  height: 3em;
}

.status-completed {
  color: white;
  background-color: $green;
  margin-top: 2em;
  border: $green solid 1px;
  border-radius: 25px;
  padding: 3px 10px;
  margin-right: 2em;
  width: 10em;
  height: 3em;
}

.projectname {
  color: $middle-grey;
  font-weight: 200;
  line-height: 1;
}

.projecthasbeencreated {
  background-color: #1b998b;
  border: 1px solid #1b998b;
  border-radius: 25px;
  color: white;
  text-align: center;
}

.projectimage {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin-right: 2em;
}

.projectsinprogresslist {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $middle-grey;
  line-height: 2em;
  margin-bottom: 4em;
  h3 {
    line-height: 1.5em;
    margin-right: 1em;
    //align-content: center;
  }
  img {
    height: 50px;
    width: 50px;
  }
}

.project-single-view-header {
  display: flex;
  flex-direction: row;
  //align-items: center;
  color: $middle-grey;
  line-height: 2em;
  //margin-bottom: 4em;
  h1:first-child {
    margin-top: 0.5em;
    text-transform: uppercase;
  }
  p {
    color: $middle-grey;
    font-size: 0.6em;
    margin-bottom: 0;
  }
  img {
    border-radius: 70px;
    height: 130px;
    width: 130px;
    margin-right: 2em;
  }
}

.allprojects {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $middle-grey;
  h3 {
    line-height: 1.5em;
    margin-right: 1em;
    //align-content: center;
  }
  img {
    height: 50px;
    width: 50px;
  }
}

.profile-header {
  display: flex;
  flex-direction: row;
  img {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin: 0 2em 2em 0;
  }
}

.profile-contact-information {
  color: $middle-grey;
  font-size: 0.8em;
  margin-left: 10.6em;
  margin-bottom: 2em;
}

.profile-button-1 {
  width: 20em;
  margin-left: 8.5em;
}

.profile-button-2 {
  width: 20em;
  margin-left: 1.5em;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
}

.index-projects-details {
  margin-bottom: 3em;
  margin-left: 5em;
}

.list-buttons {
  display: flex;
  flex-direction: row;
}

.list-button-1 {
  width: 5em;
  margin-left: 3.5em;
}

.list-button-2 {
  width: 5em;
  margin-left: 1.5em;
}

.statusses {
  display: flex;
  flex-direction: row;
  padding-bottom: 4em;
}

.status-updates {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.finished-button {
  font-size: 0.6em;
  color: $green;
  border: $grey solid 1px;
  border-radius: 25px;
  margin-right: 2em;
  padding-top: 0.3em;
  width: 13em;
  height: 2em;
  line-height: normal;
}

.ongoing-button {
  font-size: 0.6em;
  color: $red;
  border: $grey solid 1px;
  border-radius: 25px;
  margin-right: 2em;
  padding-top: 0.3em;
  width: 13em;
  height: 2em;
  line-height: normal;
}

.projectcreation_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5.2em;
  margin-top: 0;
}

.entered-text-display-header {
  background-color: $grey;
  color: $middle-grey;
  font-weight: 200;
  border-radius: 25px;
  margin-bottom: 1em;
  text-align: center;
}

textarea {
  width: 294px;
}

.select-area {
  width: 100%;
}

.dash-add-button {
  width: 294px;
  height: 2em;
  line-height: 0.3;
  background-color: $green;
  color: white;
}
.dash-submit {
  padding-top: 0;
  line-height: 0;
}
.dash-submit-button {
  width: 294px;
  height: 2em;
  line-height: 0.3;
}

.project-log {
  color: $middle-grey;
  font-size: 0.7em;
  text-align: center;
  span {
    text-transform: capitalize;
  }
}

.display-title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 0;
  line-height: 0;
}

.display-subtitle {
  text-transform: uppercase;
  font-size: 1em;
  color: $middle-grey;
  font-weight: 200;
  margin-bottom: 0;
  line-height: 0;
}

.display-headline {
  font-weight: 500;
  margin-bottom: 0;
  line-height: 0;
  font-weight: 500;
  font-size: 0.8em;
  margin-top: 1.2em;
}

.display-subheadline {
  font-weight: 500;
  margin-bottom: 0;
  line-height: 0;
  font-weight: 500;
  font-size: 0.8em;
  color: $middle-grey;
}

.display-copytext {
  font-weight: 300;
  margin-bottom: 0;
  line-height: 0;
}

.marking-texttype {
  color: $middle-grey;
  margin-top: 0;
  padding-top: 0;
  line-height: 0;
  text-transform: capitalize;
}

.add-texts-button {
  background-color: $red;
  width: 50em;
  color: white;
}

.update-button {
  color: $green;
  margin-bottom: 3em;
}

.secondary-select {
  background-color: $grey;
}

.customwidth {
  margin-left: -250px;
  width: 1600px;
}

footer {
  position: fixed;
  //padding: 10px 10px 0px 10px;
  bottom: 0;
  /* Height of the footer*/
  height: 40px;
  background-color: white;
  width: 960px;
}
